@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy2ExtraLight.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8Black.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Paperlogy";
}

.btn_one {
  background-color: white;
  border: 2px solid #63b6ff;
  border-radius: 20px;
}

.btn_two {
  background-color: #aed9ff;
  border: 2px solid white;
  border-radius: 20px;
}

.btn_one:active {
  background-color: #aed9ff;
  border-color: white;
}

.btn_two:active {
  background-color: white;
  border-color: #aed9ff;
}
