@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy2ExtraLight.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Paperlogy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8Black.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Paperlogy";
}

.back_btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 5%;
  margin: 4px 0;
  z-index: 5;
}
.back_btn img {
  width: 100%;
  object-fit: contain;
}

.btn {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* 테두리 파란 버튼 배경 하얀 */
.btn_one {
  background-color: white;
  border: 2px solid #76bfff;
  border-radius: 10px;
}
.btn_one:active {
  background-color: #76bfff;
  border-color: white;
}

/* 테두리 하얀 배경 파란 */
.btn_two {
  border: 2px solid white;
  background-color: #6baae1;
  border-radius: 50px;
  color: white;
}
.btn_two:active {
  background-color: white;
  border-color: #76bfff;
}
