.main_container {
  background-color: #f9f9f9;
  height: 100dvh; /* ✅ 최신 브라우저에서 안정적으로 사용 */
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 상단 인사 */
.greeting_card,
.recommend_section {
  background: white;
  border-radius: 10px;
  padding: 5%;
}

.greeting_card {
  padding: 5% 5% 3% 5%;
}

.hello_text {
  font-weight: 400;
  margin-bottom: 5px;
}

.weather_container {
  display: flex;
  gap: 12px;
}

.mascot_section {
  width: 20%;
}

.mascot_img {
  width: 100%;
  display: block;
}

.location_weather {
  font-weight: 600;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 7px;
}

.weather_detail {
  font-weight: 400;
  font-size: 0.9rem;
}
.weather_comment {
  font-weight: 500;
  font-size: 0.9rem;
}

/* 추천코스 */
.recommend_title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recommend_title span {
  font-weight: 500;
  margin-left: 4px;
  font-size: 0.7rem;
}

.recommend_img {
  position: relative; /* 기준 컨테이너 */
  width: 100%;
  height: 30vh;
  border-radius: 12px;
  overflow: hidden; /* detail이 넘치지 않게 */
}

.recommend_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recommend_detail {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 0.65rem;
}

.recommend_detail p {
  padding: 4px 6px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

/* 하단 버튼영역 */
.drawing_section {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.drawing_card {
  background: white;
  border-radius: 12px;
  padding: 4%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 4px 7.8px rgba(0, 0, 0, 0.05);
}

.drawing_img {
  position: relative; /* 기준 컨테이너 */
  width: 100%;
  height: clamp(20vh, 21vh, 100%);
  border-radius: 8px;
  overflow: hidden; /* detail이 넘치지 않게 */
  margin-bottom: 15px;
}

.drawing_card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.home_btn {
  background-color: #f4f4f4;
  border: 1px solid black;
  border-radius: 999px;
  width: 90%;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 3%;
}

.btn:active {
  background-color: white;
}
