.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #76bfff; /* 연한 파란색 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  gap: 3px;
  padding: 0 3px;
}

.nav-item {
  flex: 1;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.icon,
.label {
  opacity: 0.6;
}

.nav-item.center-item {
  flex: 1.1;
  position: relative;
  top: -10px;
  background: #76bfff; /* 가운데 흰색 원 */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* 흰 원 */
.nav-item.center-item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-item.center-item .icon {
  width: 32px;
  height: 32px;
  z-index: 5;
}

.nav-item.active .label,
.nav-item.active .icon {
  opacity: 1;
}
