.postList_card {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 4px rgba(11, 141, 255, 0.08);
}

.postcard_imgDiv {
  flex: 0 0 20%;
}
.postcard_img {
  width: 100%;
  object-fit: contain;
}

.postcard-container {
  flex: 0 0 55%;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.postcard-contentInfo {
  width: 100%;
}
.postcard_title {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2px;
}
.postcard_content {
  width: 80%;
  min-width: 0;
  font-size: 0.8em;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postcard_date {
  font-size: 0.8em;
  font-weight: 400;
  color: #007bff;
}

.postcard-footer {
  height: 100%;
}
.postcard-interactions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postcard-profileDiv {
  height: 50%;
}
.postcard-profile {
  height: 100%;
  border-radius: 30px;
  object-fit: contain;
}

.postcard_username {
  font-size: 0.85em;
  font-weight: 500;
  color: #333;
}

.postcard-footerInfo {
  display: flex;
  gap: 0.2em;
}

.postcard_check {
  display: flex;
  font-size: 0.7em;
  color: #333;
  align-items: center;
  gap: 0.2em;
}
